<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.central_block
			include includes/menu
			.container_css
				.img_block 
					.image_1
						img(src="img/css-text-decoration.png", alt="")
					.image_1
						img(src="img/css-probely.png", alt="")
					.image_1
						img(src="img/css-text.png", alt="")
				.text_block1 
					p font - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста. Его синтаксис <br> #[code [font-style||font-variant||font-weight]] #[code font-size [/line-height]] #[code font-family]
				.text_block2
					p font-style - определяет начертание шрифта: обычное, курсивное или наклонное. Когда для текста установлено курсивное или наклонное начертание, браузер обращается к системе для поиска подходящего шрифта. Если заданный шрифт не найден, браузер использует специальный алгоритм для имитации нужного вида текста. Результат и качество при этом могут получиться неудовлетворительными, особенно при печати документа. Его синтаксис <br> #[code font-style: normal | italic | oblique | inherit]